---
import Heading from '@/components/Heading.astro';
import { buttonVariants } from '@/components/ui/button';
import type { LanguageCode } from '@/i18n/ui';
import { cn } from '@/lib/utils';
import { Calendar } from 'lucide-react';

import { ContactForm } from '../components/ContactForm.tsx';
import type { ContactFormTranslations } from '../type';

interface Props {
  lang: LanguageCode;
  mainHeadingDescription: string;
  formTitle: string;
  formTranslations: ContactFormTranslations;
  orSeparatorText: string;
  calendarTitle: string;
  calendarDescription: string;
  calendarLinkLabel: string;
  calendarUrl: string;
}

const {
  lang,
  mainHeadingDescription,
  formTitle,
  formTranslations,
  orSeparatorText,
  calendarTitle,
  calendarDescription,
  calendarLinkLabel,
  calendarUrl,
} = Astro.props;
---

<section class="py-12 md:py-16">
  <Heading
    title="Contact Me"
    description={mainHeadingDescription}
    showDivider={true}
    className="flex flex-col items-center justify-center"
    titleClassName="md:text-5xl"
  />

  <div class="flex justify-center mt-12">
    <div class="w-full max-w-xl space-y-6 bg-card p-6 md:p-8 rounded-lg shadow">
      {/* Section Formulaire */}
      <Heading title={formTitle} className="text-center" />
      <ContactForm client:load {lang} {formTranslations} />

      {/* Séparateur OU */}
      <div class="my-8 flex items-center">
        <hr class="flex-grow border-border" />
        <span class="mx-4 text-muted-foreground font-medium"
          >{orSeparatorText}</span
        >
        <hr class="flex-grow border-border" />
      </div>

      {/* Section Google Calendar */}
      <Heading
        title={calendarTitle}
        className="text-center"
        description={calendarDescription}
      />
      <a
        href={calendarUrl}
        target="_blank"
        rel="noopener noreferrer"
        class={cn(
          'w-full mt-4',
          buttonVariants({ variant: 'default', size: 'lg' })
        )}
      >
        <Calendar className="mr-2 size-4" />
        {calendarLinkLabel}
      </a>
    </div>
  </div>
</section>
